@namespace SGPC.Resources
@model IEnumerable<SGPC.ViewModels.TicketViewModel>

@{
	ViewData["Title"] = "Ticket List";
}

<h4>TicketViewModel</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<table width="100%">
			<tr>
				<th>@TicketResource.Name</th>
				<th>@TicketResource.Subject</th>
				<th>@TicketResource.ReferBy</th>
				<th>@TicketResource.Contact</th>
				<th>@TicketResource.Status</th>
				<th>@Common.Detail</th>

			</tr>

			@if (Model != null)
			{
			@foreach (var ticket in Model)
			{
			<tr>
				<td>@ticket.Name</td>
				<td>@ticket.Subject</td>
				<td>@ticket.ReferBy</td>
				<td>@ticket.Contact</td>
				<td>@ticket.Status</td>
				<td><a asp-action="Detail" asp-controller="Ticket" asp-route-id="@ticket.Id" /> @Common.Detail</td>
			</tr>
			}
			}
		</table>

	</div>
</div>



